.footer {
  background-color: #000000;
  padding: 20px 0;
  text-align: center;
  font-size: 14px;
}

.footer-logo {
  width: 120px;
  margin-bottom: 15px;
}

.footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links ul li {
  display: inline-block;
  margin: 0 15px;
}

.footer-links ul li a {
  text-decoration: none;
  color: #fcfbfb;
  font-weight: 500;
}

.footer-links ul li a:hover {
  color: #0073e6;
}

.footer-bottom {
  margin-top: 20px;
  font-size: 12px;
  color: #777;
}

.footer-bottom a {
  color: #0073e6;
  text-decoration: none;
}

.footer-bottom a:hover {
  text-decoration: underline;
}
